.accordion
{
    width: 800px;
    margin: 100px auto;
    margin-block-start: 30px;
}
.input-group
{
    width: 760px;
}
.btn-outline-dark
{
    width: 800px;
    background-color: wheat;
}

.title
{
    text-align: center;
    margin: 100px auto;
    margin-block-end: 0px;
}

.btn-outline-secondary
{
    background-color: wheat;
}
/* body{background-color: #B3653F;} */

/* #6C9A8B */
/* #AB446B */


.accordion-button:active, .accordion-button:not(.collapsed), .accordion-button:hover, .accordion-button:focus
{
    background-color: aliceblue;
}
