.accordion {
    width: 800px;
    margin: 100px auto;
    margin-block-start: 30px;
}

.btn-outline-dark {
    width: 800px;
    background-color: wheat;
}

.title {
    text-align: center;
    margin: 100px auto;
    margin-block-end: 0px;
    font-family: 'Inter', sans-serif;
    color: #414a4c;
}

.btn-outline-secondary {
    background-color: wheat;
}

.accordion-button:active, .accordion-button:not(.collapsed), .accordion-button:hover, .accordion-button:focus {
    background-color: aliceblue;
}

.btn-secondary {
    color: #6c757d;
    background-color: wheat;
}

.task-text {
    text-align: left !important;
    margin-block-start: 5px;
}

/* .accordion-body {
    text-align: center;
} */

.test {
    font-size: 0.9rem
}

.test2 > * {
    margin: 30px 0;
}

#add-form {
    width: 100%;
    display: inline-flex;
}

.float-right {
    float: right; 
}

.inline-form {
    display: inline;
}

#update-form {
    width: 700px;
    display: inline-flex;
}

#update-error {
    width: 350px;
}

body {
    margin: auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
    background-color: #414a4c;
    overflow: hidden;
    padding-left: 0px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 6px 12px;
    text-decoration: none; 
    color: azure;
}

nav li a:hover {
    background-color: #232b2b;
}

a:hover{
    color: azure;
}

.alert {
    padding: 0.75rem 0.75rem;
}

#register-form, #register-alert {
    width: 40%;
}

body, .main {
    background-color: #e1e6f3;
}

.main {
    font-family: 'Avenir Next', 'sans-serif';
}

.accordion-button:not(.collapsed) {
    color: #414a4c;
}