{% extends 'base.html' %}
{% block title %}To Do List{% endblock title %}
{% block content %}
    <!-- https://getbootstrap.com/docs/4.3/components/collapse/ -->
    <!-- https://getbootstrap.com/docs/5.0/forms/input-group/ -->
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Add Task
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
            <div class="accordion-body">
                <!-- retrieve form data and submit form POST method -->
                <div class="input-group">
                  <form action = "/" method = "post" id = add-form>
                    <!-- name = "NEED THIS"-->
                    <input type="text" name = 'task' class="form-control" id = "task-input" placeholder="Task" aria-label="Task name" aria-describedby="basic-addon2">
                    <button class="btn btn-outline-secondary" type = "submit" id = "add-button" >Add</button>
                  </form>
                  {% for message in get_flashed_messages() %}
                  <div class = "alert alert-danger" role="alert">{{ message }}</div>
                  {% endfor %}
                </div>                       
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Show All Tasks
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
            <div class="test2 accordion-body">
              <!-- list outer, span for forms, display inline form buttons-->
              {% for task in tasks %} 
              <ul class = "task-text"> 
                  {{ task.task }}
                <span class = "float-right">
                    <a href ="/update/{{ task.id }}"><button class="test btn btn-secondary me-md-2" type="button">Update</button></a>
                    <form class = "inline-form" action = "/delete/{{ task.id }}" method = "post">
                        <button type = "submit" class="test btn btn-secondary" type="button">Delete</button>
                    </form>
                  </span>
                </ul>
              {% endfor %}
            </div>
          </div>
        </div>
        <form action = "/clear-all" method = "post">
            <button type="submit" class="btn btn-outline-dark">Clear all Tasks</button>
        </form>
      </div>
    <script src = "//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
{% endblock content %}