{% extends 'base.html' %}
{% block title %}Update Task{% endblock title %}
{% block content %}
<h1 class = 'title'>Update Task</h1>
<br> 
<h4 style = "text-align: center; margin-right: 560px;"> Old task: {{ task.task }} </h4>
    <div class="update-group">
        <form action = "/update/{{ task.id }}" method = "post" id = "update-form">
            <input type="text" name = 'task' class="form-control" id = "update-task-1" placeholder="Update Task" aria-label="Task name" aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary" type = "submit" id = "add-button" >Update</button>
        </form>
        {% for message in get_flashed_messages() %}
        <div class = "alert alert-danger" role="alert" id = "update-error">{{ message }}</div>
        {% endfor %}
    </div>
{% endblock content %}
